<!--
employee_profile.html

@author Jason McMullen
-->

<!-- Use base.html as a template for this page -->
{% extends 'base.html' %}

 <!-- Start our code from this section in base.html -->
{% block content %}

<div class="col-md-4">
	<!--Display current profile status and information-->
	<h3>Personal Information</h3>
	<section>
		<p>Name: {{ user.first_name }} {{ user.last_name }}</p>
		<p>Phone Number: {{ employee.phone }}</p>
	</section>
</div>
<div class="col-md-4">
    <div class="container">
        {% for locations in PunchForm.location %}
            <div class="mylocations">
                {{ locations }}
            </div>
        {% endfor %}
        {% if employee.isEvenNumPunches == True %}
            <a href="{% url 'punch' %}" class="btn btn-success">Punch In</a>
        {% else %}
            <a href="{% url 'punch' %}" class="btn btn-success">Punch Out</a>
        {% endif %}
    </div>
    <div class="container">
        {% for punch in employee.getAllPunches %}
            <table>
                <tr>
                    <td>{{ punch }} </td>
                </tr>
            </table>
        {% endfor %}
    </div>
</div>
{% endblock %} 