<!--
employer_profile.html

@author Jason McMullen
-->

<!-- Use base.html as a template for this page -->
{% extends 'base.html' %}

 <!-- Start our code from this section in base.html -->
{% block content %}

<div class="row">
    <div class="col-sm-1">
        <!-- Create a small space to "indent" the list of all employees -->
    </div>
    
    <div class="col-md-3">
        <h3>Hours From A Week Ago</h3>
        <section>
            {% for employee in employer.getAllEmployees %}
                <table>
                    <tr>
                        <b>{{ employee }}</b>
                    </tr>
                    <td>
                        {% for punch in employee.getThisWeeksPunches %}
                            <pre>{{ punch }}</pre>
                        {% endfor %}
                    </td>
                </table>
                <p><b>{{ employee.hoursWorkedThisWeek }}</b> hours worked</p>
                
                <hr>
                
            {% endfor %}
        </section>
    </div>
    
    <div class="col-md-3">
        <form method="POST" action="">{% csrf_token %}
            <h3>Select Start/End Dates</h3>
            <section>
                <label for="id_start_date">Start Date: </label>{{ form.start_date }}
                <label for="id_end_date">End Date: </label>{{ form.end_date }}
                <input type="submit" value="Select" class="btn btn-primary">
            </section>
        </form>
    </div>
        
    <div class="col-md-3">
        <h3></h3>
        <section>
            {% for employee in employer.getAllEmployees %}
            <table>
                <tr>
                    <b>{{ employee }}</b>
                </tr>
                <td>
                    {% for punch in employee.getCustomDatePunches %}
                        <pre>{{ punch }}</pre>
                    {% endfor %}
                </td>
            </table>
            <p><b>{{ employee.getCustomDateHours }}</b> hours worked</p>
            
            <hr>
            
            {% endfor %}
        </section>
    </div>

</div>

{% endblock %} 