<!--
profile.html

@author Jason McMullen
-->

<!-- Use base.html as a template for this page -->
{% extends 'base.html' %}

 <!-- Start our code from this section in base.html -->
{% block content %}

<div class="col-md-4">
	<!--Display current profile status and information-->
	<h3>Personal Information</h3>
	<section>
		<p>Name: {{ user.first_name }} {{ user.last_name }}</p>
		<p>Phone Number: {{ employee.phone }}</p>
	</section>
</div>
<div class="container">
    <form method="POST" action="">{% csrf_token %}
    <input type="submit" value="Punch" class="btn btn-primary">
</div>
<div class="container">
    {% for punch in employee.getAllPunches %}
        <table>
            <tr>
                <td>{{ punch }} </td>
            </tr>
        </table>
    {% endfor %}
</div>
{% endblock %} 