<!--
employer_profile.html

@author Jason McMullen
-->

<!-- Use base.html as a template for this page -->
{% extends 'base.html' %}

 <!-- Start our code from this section in base.html -->
{% block content %}

<div class="row">
    <div class="col-sm-1">
        <!-- Create a small space to "indent" the list of all employees -->
    </div>
    
    <div class="col-md-4">
        <h3>All Employees</h3>
        {% for employee in employer.getAllEmployees %}
            <table>
                <tr>
                    {{ employee }}
                </tr>
                <td>
                    {% for punch in employee.getThisWeeksPunches %}
                        <p>{{ punch }}</p>
                    {% endfor %}
                </td>
            </table>
            <p>{{ employee.hoursWorkedThisWeek }} hours worked</p>
            
            <hr>
            
        {% endfor %}
    </div>
    
    <div class="col-md-4">
        <h3>Add a Punch</h3>
        
    </div>
</div>

{% endblock %} 