<!--
employer_profile.html

@author Jason McMullen
-->

<!-- Use base.html as a template for this page -->
{% extends 'base.html' %}

 <!-- Start our code from this section in base.html -->
{% block content %}

<div class="col-md-4">
    <div class="container">
        <!--Display current profile status and information-->
        <h3>Personal Information</h3>
        <section>
            <p>Name: {{ user.first_name }} {{ user.last_name }}</p>
        </section>
    </div>
</div>
<div class="col-md-4">
    <div class="container">
        <h3>All Employees</h3>
        {% for employee in user.getAllEmployees %}
            {{ employee }}
        {% endfor %}
    </div>
<div>
{% endblock %}